@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700|Roboto:400,300|Roboto+Mono:400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #17232F;
    font-family: 'Roboto Mono', serif;
    color: #f3f6ff;
}

.social {
    text-align: right;
    font-size: 20px;
}

@media (max-width: 767px) {
    .social {
        text-align: center;
    }
}

.social h4 {
    font-family: Roboto, serif;
    font-size: 30px;
    margin-bottom: 5px;
}

a {
    display: inline-block;
}

a:link,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: #dcdfe8
}

span {
    margin-top: 6px;
    margin-bottom: 6px;
}

.about-me {
    margin-top: 20px;
}

.about-me span {
    font-size: 28px;
}

header .title {
    font-size: 36px;
}

@media (max-width: 650px) {
    .about-me span {
        font-size: 14px;
    }

    header .title {
        font-size: 20px;
    }
}

article .title {
    font-size: 32px;
}

article .subtitle {
    font-size: 26px;
}

article .desc {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    text-align: justify;
    -ms-text-align-last: left;
    text-align-last: left;
}

@media (max-width: 480px) {
    article .desc {
        padding: 0;
    }
}

article p a {
    text-decoration: underline !important;
}

article .bigger {
    font-size: 150%;
}