
ul.list,
ul.list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list ul {
    position: relative;
    margin-left: 10px;
}

ul.list ul:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;

    border-left: 1px solid #ccc;
}

ul.list li {
    position: relative;
    margin: 0;
    padding: 3px 12px;

    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    line-height: 36px;
}

ul.list li a {
    position: relative;

    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
    font-size: 22px;
}

ul.list li a:hover,
ul.list li a:hover + ul li a {

}

ul.list ul li:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    width: 8px;
    height: 0;

    border-top: 1px solid #ccc;
}

ul.list ul li:last-child:before {
    top: 20px;
    bottom: 0;
    height: auto;

    background: #17232F;
}