### Example user template template
### Example user template

# IntelliJ project files
.idea/
out
gen
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
